body{
    padding: 0;
    margin: 0;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 2rem;
}

.list-body{
    border: solid 2px red;
    background-color: aquamarine;
    padding: 16px 64px;
    border-radius: 16px;
}

button#add{
    font-size: 2rem;
    padding: 24px;
    margin: 24px;
    border-radius: 12px;
    background-color: cadetblue;
    cursor: pointer;
}

button:hover{
    background-color: rgb(117, 192, 198);
}

button:active{
    background-color: rgb(46, 76, 78);
}

.inputBox{
    border: 2px solid green;
    background-color: green;
    font-size: 2rem;
}

input{
    font-size: 2rem;
    padding: 16px;
    margin: 16px;
}

.done{
    font-size: 2rem;
    padding: 24px;
    margin: 24px;
    border-radius: 12px;
    background-color: cadetblue;
    cursor: pointer;
}